<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddPost</title>
</head>
<body>
<form action="/insertPost" method="post">
  <input id="title_input" name="title" type="text" maxlength="40" placeholder="title...">
  <br>
  <br>
  <input id="main_text" name="main_text" type="text" maxlength="40000" placeholder="main text...">
  <br>
  <br>
  <button type="submit">Add new Post</button>
</form>

<div class="footer">
    <a href="/home">Home</a>
    <a href="/posts">All Posts</a>
    <a href="/registration">Registration</a>
    <a href="/logout">Log Out</a>
</div>
</body>
</html>