<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO ADMIN</title>
</head>
<body>
<h1>Hello, my overlord!</h1>

<h1>Here yours panel, overlord! Please use this to creating a genius posts:</h1>
<form enctype="multipart/form-data" action="/insertPost" method="post">

    <label for="title_input"><input id="title_input" name="title" type="text" maxlength="40" placeholder="title..."></label>
    <br><br>

    <label for="main_text"><input id="main_text" name="main_text" type="text" maxlength="40000" placeholder="main text..."></label>
    <br><br>

    <input type="file" name="image">
    <br><br>

    <button type="submit">Add new Post</button>

</form>

<h2>Comments Moderation, my lord:</h2>
<form action="/deleteComment" method="post">
    <input type="number" name="comment_id" placeholder="Id of comment...">
    <button type="submit">Delete Comment!</button>
</form>

<h2>Users Moderation, my lord:</h2>
<form action="/deleteUsr" method="post">
    <input type="number" name="usr_id" placeholder="Id of user...">
    <button type="submit">DELETE USER!</button>
</form>

<h2>Posts Moderation, my lord:</h2>
<form action="/deletePost" method="post">
    <input type="number" name="post_id" placeholder="Id of post...">
    <button type="submit">DELETE POST!</button>
</form>

<div class="footer">
    <a href="/home">Home</a>
    <a href="/posts">All Posts</a>
    <a href="/registration">Registration</a>
    <a href="/logout">Log Out</a>
</div>

</body>
</html>